<div class="pif">

  <div class="item">
    <img src="images/cup_whole.png" alt="Pay it forward"/>
  </div>

  <div class="text">
    <div class="thank-win1">
      Winner!
    </div>
    <div class="clearfix"></div>
    <div class="thank-win2">
      You've have won a free tea
    </div>
    
    <div class="clearfix break3"></div>
    
    <button ng-click="goVoucher()">
      <span class="top">Claim it</span>
      <span class="clearfix"></span>
      <span class="bottom">for yourself</span>
    </button>
    &nbsp;&nbsp;&nbsp;
    <button ng-click="goVoucher()">
      <span class="top">Pass it on</span>
      <span class="clearfix"></span>
      <span class="bottom">to someone in need</span>
    </button>
    
    <div class="clearfix break2"></div>
    
    <div class="thank-follow1">
      Follow the movement
    </div>
    <div class="clearfix"></div>
    <div class="thank-follow2">
      #roundup
    </div>
  </div>
</div>
